n8n-crm-company-research-workflow.json
{
  "name": "CRM Company Research and Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "schedule-trigger-crm-research",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        960
      ]
    },
    {
      "parameters": {
        "url": "https://voiceagent-gamma-lovat.vercel.app/api/scraped-data?status=new&limit=5",
        "options": {}
      },
      "id": "fetch-crm-research-queue",
      "name": "Fetch CRM Research Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.scrapedData || [];\n\nreturn rows\n  .filter(row => row.business_name)\n  .map(row => ({\n    json: {\n      scrapedDataId: row.id,\n      business_name: row.business_name,\n      phone: row.phone || \"\",\n      email: row.email || \"\",\n      website: row.website || \"\",\n      source_url: row.source_url || \"\",\n      summary: row.summary || \"\",\n      status: row.status || \"new\"\n    }\n  }));"
      },
      "id": "split-research-queue",
      "name": "Split Research Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "search-query",
              "name": "search_query",
              "value": "={{ $json.business_name + \" official website\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "input-parameters",
      "name": "Input Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        960
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.search_query }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.SERPAPI_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "serpapi-scraper",
      "name": "SerpAPI Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst results = input.organic_results || [];\n\nconst company = $(\"Split Research Queue\").item.json.business_name || \"\";\nconst companyKey = company.toLowerCase().replace(/\\s+/g, \"\");\n\nlet official = results.find(item => {\n  const link = String(item.link || \"\").toLowerCase();\n  const title = String(item.title || \"\").toLowerCase();\n  const compactLink = link.replace(/\\W+/g, \"\");\n  const compactTitle = title.replace(/\\W+/g, \"\");\n\n  return (\n    link.startsWith(\"http\") &&\n    (compactLink.includes(companyKey) || compactTitle.includes(companyKey)) &&\n    !link.includes(\"wikipedia\") &&\n    !link.includes(\"linkedin\") &&\n    !link.includes(\"facebook\") &&\n    !link.includes(\"instagram\") &&\n    !link.includes(\"youtube\") &&\n    !link.includes(\"x.com\") &&\n    !link.includes(\"twitter\") &&\n    !link.includes(\"crunchbase\")\n  );\n});\n\nif (!official) {\n  official = results.find(item => String(item.link || \"\").startsWith(\"http\"));\n}\n\nreturn [\n  {\n    json: {\n      scrapedDataId: $(\"Split Research Queue\").item.json.scrapedDataId,\n      business_name: company,\n      website_url: official ? official.link : \"\",\n      description: official ? official.snippet : \"\",\n      phone: $(\"Split Research Queue\").item.json.phone || \"\",\n      email: $(\"Split Research Queue\").item.json.email || \"\"\n    }\n  }\n];"
      },
      "id": "parse-leads",
      "name": "Parse Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        960
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://voiceagent-gamma-lovat.vercel.app/api/scraped-data/{{ $json.scrapedDataId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"business_name\": \"{{ $json.business_name }}\",\n  \"website\": \"{{ $json.website_url }}\",\n  \"source_url\": \"{{ $json.website_url }}\",\n  \"summary\": \"{{ $json.description }}\",\n  \"status\": \"researching\"\n}",
        "options": {}
      },
      "id": "save-website-url-to-crm",
      "name": "Save Website URL to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        960
      ]
    },
    {
      "parameters": {
        "url": "={{ $(\"Parse Leads\").item.json.website_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "html_content"
            }
          }
        }
      },
      "id": "fetch-website",
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $input.item.json.html_content || \"\";\nconst text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, \" \")\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, \" \")\n  .replace(/<[^>]*>/g, \" \")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\nreturn {\n  json: {\n    ...($input.item.json),\n    scrapedDataId: $(\"Split Research Queue\").item.json.scrapedDataId,\n    business_name: $(\"Split Research Queue\").item.json.business_name,\n    website_url: $(\"Parse Leads\").item.json.website_url,\n    extracted_text: text.substring(0, 3000)\n  }\n};"
      },
      "id": "extract-text",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        960
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the following website content in 2-3 concise sentences.\n\nCompany: {{ $json.business_name }}\nWebsite: {{ $json.website_url }}\n\nContent:\n{{ $json.extracted_text }}",
        "options": {
          "systemMessage": "You are an AI assistant that summarizes company or website information clearly and professionally."
        }
      },
      "id": "ai-agent-for-summary",
      "name": "AI Agent for summary",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2320,
        960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "scraped-data-id",
              "name": "scrapedDataId",
              "value": "={{ $(\"Split Research Queue\").item.json.scrapedDataId }}",
              "type": "string"
            },
            {
              "id": "business-name",
              "name": "business_name",
              "value": "={{ $(\"Split Research Queue\").item.json.business_name }}",
              "type": "string"
            },
            {
              "id": "website-url",
              "name": "website_url",
              "value": "={{ $(\"Parse Leads\").item.json.website_url }}",
              "type": "string"
            },
            {
              "id": "summary",
              "name": "summary",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-summary",
      "name": "Format Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2680,
        960
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://voiceagent-gamma-lovat.vercel.app/api/scraped-data/{{ $json.scrapedDataId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"business_name\": \"{{ $json.business_name }}\",\n  \"website\": \"{{ $json.website_url }}\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-summary-to-crm",
      "name": "Save Summary to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2920,
        960
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "openai-chat-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2320,
        1180
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch CRM Research Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CRM Research Queue": {
      "main": [
        [
          {
            "node": "Split Research Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Research Queue": {
      "main": [
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parameters": {
      "main": [
        [
          {
            "node": "SerpAPI Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Scraper": {
      "main": [
        [
          {
            "node": "Parse Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Leads": {
      "main": [
        [
          {
            "node": "Save Website URL to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Website URL to CRM": {
      "main": [
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "AI Agent for summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent for summary": {
      "main": [
        [
          {
            "node": "Format Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary": {
      "main": [
        [
          {
            "node": "Save Summary to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent for summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
