n8n-crm-email-meeting-workflow.json
{
  "name": "CRM Email Meeting Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:meeting OR schedule OR appointment"
        }
      },
      "id": "gmail-trigger-meeting",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1680,
        880
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Read the following email and determine whether the sender wants to schedule a meeting. Return JSON only. No markdown.\n\nRequired JSON shape:\n{\n  \"about_meeting\": true,\n  \"summary\": \"short summary\",\n  \"suggested_title\": \"meeting title\",\n  \"confirmation_reply\": \"short confirmation email reply\",\n  \"meeting_time_iso\": \"ISO datetime if present, otherwise empty string\",\n  \"duration_minutes\": 30\n}\n\nIf the email is not about a meeting, return:\n{\n  \"about_meeting\": false,\n  \"summary\": null,\n  \"suggested_title\": null,\n  \"confirmation_reply\": null,\n  \"meeting_time_iso\": \"\",\n  \"duration_minutes\": 30\n}\n\nEmail subject:\n{{ $json.Subject || $json.subject || \"\" }}\n\nEmail snippet/body:\n{{ $json.snippet || $json.textPlain || $json.textHtml || \"\" }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You extract meeting intent from emails and return strict JSON only."
        }
      },
      "id": "ai-agent-meeting-extract",
      "name": "AI Meeting Extractor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1440,
        880
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "openai-chat-model-meeting",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1440,
        1100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.output || \"{}\";\nlet parsed;\ntry {\n  parsed = typeof raw === \"string\" ? JSON.parse(raw.replace(/```json|```/g, \"\").trim()) : raw;\n} catch (error) {\n  parsed = { about_meeting: false };\n}\n\nif (!parsed.about_meeting) {\n  return { json: { skip: true } };\n}\n\nconst gmail = $(\"Gmail Trigger\").item.json;\nconst fromRaw = gmail.From || gmail.from || \"\";\nconst emailMatch = String(fromRaw).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\nconst senderEmail = emailMatch ? emailMatch[0] : \"\";\nconst senderName = String(fromRaw)\n  .replace(/<[^>]+>/g, \"\")\n  .replace(senderEmail, \"\")\n  .replace(/\"/g, \"\")\n  .trim() || senderEmail || \"Email Lead\";\n\nconst start = parsed.meeting_time_iso ? new Date(parsed.meeting_time_iso) : new Date(Date.now() + 24 * 60 * 60 * 1000);\nconst duration = Number(parsed.duration_minutes || 30);\nconst end = new Date(start.getTime() + duration * 60 * 1000);\n\nreturn {\n  json: {\n    senderName,\n    senderEmail,\n    about_meeting: true,\n    summary: parsed.summary || \"Meeting requested by email.\",\n    suggested_title: parsed.suggested_title || \"Student Consultation\",\n    confirmation_reply: parsed.confirmation_reply || \"Your meeting has been scheduled successfully.\",\n    meeting_time_iso: start.toISOString(),\n    meeting_end_iso: end.toISOString(),\n    duration_minutes: duration\n  }\n};"
      },
      "id": "parse-meeting-request",
      "name": "Parse Meeting Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip !== true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-meeting-requested",
      "name": "If Meeting Requested",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -880,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://voiceagent-gamma-lovat.vercel.app/api/customers/upsert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.senderName }}\",\n  \"email\": \"{{ $json.senderEmail }}\",\n  \"source\": \"Gmail\",\n  \"status\": \"meeting_booked\",\n  \"notes\": \"{{ $json.summary }}\"\n}",
        "options": {}
      },
      "id": "upsert-crm-customer",
      "name": "Upsert CRM Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -640,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://voiceagent-gamma-lovat.vercel.app/api/meetings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_id\": \"{{ $json.customer.id }}\",\n  \"meeting_time\": \"{{ $(\"Parse Meeting Request\").item.json.meeting_time_iso }}\",\n  \"meeting_status\": \"booked\",\n  \"meeting_notes\": \"{{ $(\"Parse Meeting Request\").item.json.summary }}\"\n}",
        "options": {}
      },
      "id": "create-crm-meeting",
      "name": "Create CRM Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -400,
        780
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "start": "={{ $(\"Parse Meeting Request\").item.json.meeting_time_iso }}",
        "end": "={{ $(\"Parse Meeting Request\").item.json.meeting_end_iso }}",
        "additionalFields": {
          "description": "={{ $(\"Parse Meeting Request\").item.json.summary }}",
          "summary": "={{ $(\"Parse Meeting Request\").item.json.suggested_title }}"
        }
      },
      "id": "create-calendar-event",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -160,
        780
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $(\"Parse Meeting Request\").item.json.senderEmail }}",
        "subject": "={{ \"Meeting Confirmed: \" + $(\"Parse Meeting Request\").item.json.suggested_title }}",
        "emailType": "text",
        "message": "={{ $(\"Parse Meeting Request\").item.json.confirmation_reply }}",
        "options": {}
      },
      "id": "send-confirmation-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        80,
        780
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Meeting Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Meeting Extractor": {
      "main": [
        [
          {
            "node": "Parse Meeting Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Meeting Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Meeting Request": {
      "main": [
        [
          {
            "node": "If Meeting Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Meeting Requested": {
      "main": [
        [
          {
            "node": "Upsert CRM Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert CRM Customer": {
      "main": [
        [
          {
            "node": "Create CRM Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Meeting": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
